site_name: ftm-lakehouse
site_url: https://openaleph.org/docs/lib/ftm-lakehouse
repo_url: https://github.com/openaleph/ftm-lakehouse
nav:
  - Intro: index.md
  - quickstart.md
  - usage.md
  - RFC: rfc.md
  - functionality.md
  - architecture.md
  - Detailed Usage:
    - Working with Entities: usage/entities.md
    - Working with Files: usage/archive.md
    - Working with Mappings: usage/mappings.md
    - CLI Reference: usage/cli.md
    - Configuration: usage/configuration.md
  - Reference:
    - ftm_lakehouse.lake: reference/lake.md
    - ftm_lakehouse.core: reference/core.md
    - ftm_lakehouse.model: reference/model.md
    - ftm_lakehouse.storage: reference/storage.md
    - ftm_lakehouse.repository: reference/repository.md
    - ftm_lakehouse.operation: reference/operation.md
    - ftm_lakehouse.logic: reference/logic.md
theme:
  name: material
  logo: https://cdn.investigativedata.org/style/logos/darc/svg/DARC-Logo-RGB-Horizontal-Neg.svg
  favicon: https://cdn.investigativedata.org/style/logos/darc/favicon.ico
  custom_dir: docs/overrides
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - toc.follow
    - content.code.copy
extra_css:
  - stylesheets/extra.css
extra:
  social:
    - icon: material/mail
      link: mailto:hi@dataresearchcenter.org
    - icon: material/web
      link: https://dataresearchcenter.org
    - icon: material/github
      link: https://github.com/openaleph/ftm-lakehouse
    - icon: material/linkedin
      link: https://www.linkedin.com/company/dataresearchcenter/
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.details
  - admonition
  - pymdownx.tasklist:
      custom_checkbox: true
plugins:
  - search
  - autorefs
  - mkdocs-typer2:
      pretty: true
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_style: google
            show_root_heading: false
            show_object_full_path: false
